@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.skills > p, .about > p, .header__about p, .header__menu-item {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.skills__item p {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.header {
  margin: 0 auto;
  margin-bottom: 104px;
}
.header__menu {
  font-family: "Gilroy-Bold";
  margin: 0 auto;
  width: 64.5833333333%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
@media (max-width: 992px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  list-style: none;
  color: #828282;
  cursor: pointer;
}
.header__menu-item:first-child {
  color: #070707;
}
.header__menu-item:hover {
  color: #070707;
}
.header__burger-menu {
  display: flex;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 66px 28px 57px 26px;
}
.header__link {
  display: flex;
  flex-direction: column;
}
.header__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__button > button {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #828282;
  background: transparent;
  width: 24px;
  height: 24px;
}
.header__button > button img {
  width: 100%;
}
.header__langburg {
  display: flex;
  transform-origin: right top;
  transform: rotate(90deg);
  gap: 10px;
}
.header__langburg button {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #828282;
  background: transparent;
}
.header__langburg button:first-child {
  color: #070707;
}
.header__langburg button :hover {
  color: #070707;
}
.header__langburg p {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
}
.header__burger-menu-item {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #828282;
  cursor: pointer;
  padding-bottom: 68px;
}
.header__burger-menu-item:first-child {
  color: #070707;
}
.header__burger-menu-item:hover {
  color: #070707;
}
.header__hero {
  margin: 0 auto;
  width: 64.5833333333%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 992px) {
  .header__hero {
    width: 100%;
    padding: 0 26px;
  }
}
.header__information {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header__information {
    display: grid;
    justify-content: baseline;
  }
}
.header__name {
  margin: 40px 0px 30px 0px;
}
.header__name p {
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}
.header__about {
  margin: 0px 0px 30px 0px;
  display: flex;
  align-items: flex-end;
}
.header__language {
  margin: 0px 0px 10px 0px;
  position: relative;
}
.header__language p {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  transform: rotate(-90deg);
  position: relative;
  top: 114px;
  right: -20px;
}
@media (max-width: 992px) {
  .header__language {
    display: none;
  }
}
.header__burger {
  position: absolute;
  top: 70px;
  right: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__image {
  margin-bottom: 105px;
}
@media (max-width: 992px) {
  .header__image {
    margin-bottom: 83px;
  }
}
.header__image img {
  width: 100%;
}

.about {
  margin: 0 auto;
  background-color: #F6F6F6;
}
.about > p {
  padding-bottom: 53px;
  text-align: center;
}
.about__title p {
  padding: 120.25px 0px 18px 0px;
}
@media (max-width: 992px) {
  .about {
    padding: 0 26px;
  }
}

.skills {
  width: 100%;
  margin: 0 auto;
  display: block;
  justify-content: center;
}
.skills > p {
  text-align: center;
}
.skills__title {
  padding: 91px 0px 69px 0px;
}
.skills__container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 68.8888888889%;
  margin: 0 auto;
  margin-top: 84px;
}
@media (max-width: 992px) {
  .skills__container {
    flex-direction: column;
    margin-top: 0px;
  }
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 207px;
  margin: 0 15px;
}
@media (max-width: 992px) {
  .skills__item {
    margin-top: 82px;
  }
}

.title, .about__title p, .skills__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}